/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ce3cff;
  --ifm-color-primary-dark: #c61dff;
  --ifm-color-primary-darker: #c20dff;
  --ifm-color-primary-darkest: #a500dd;
  --ifm-color-primary-light: #d65bff;
  --ifm-color-primary-lighter: #da6bff;
  --ifm-color-primary-lightest: #e69bff;
  --ifm-background-color: #f4f4f7;
  
  --ifm-color-success: #a6e3a1;
  --ifm-color-info: #74c7ec;
  --ifm-color-warning: #f9e2af;
  --ifm-color-danger: #f38ba8;
  --yozora-colors-background-error: #f38ba8;
  --yozora-colors-background-info: #74c7ec;
  --yozora-colors-background-note: #f9e2af;
  --yozora-colors-background-success: #a6e3a1;
  --yozora-colors-background-warning: #f9e2af;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {

  --ifm-color-primary: #f5c2e7;
  --ifm-color-primary-dark: #ef9cd8;
  --ifm-color-primary-darker: #ec89d1;
  --ifm-color-primary-darkest: #e251ba;
  --ifm-color-primary-light: #fbe8f6;
  --ifm-color-primary-lighter: #fefbfd;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #11111b;
  
  --ifm-color-success: #a6e3a1;
  --ifm-color-info: #74c7ec;
  --ifm-color-warning: #f9e2af;
  --ifm-color-danger: #f38ba8;
  --yozora-colors-background-error: #f38ba8;
  --yozora-colors-background-info: #74c7ec;
  --yozora-colors-background-note: #f9e2af;
  --yozora-colors-background-success: #a6e3a1;
  --yozora-colors-background-warning: #f9e2af;
}
